# Snakemake
.snakemake/

# Pipeline outputs
results/
reports/

# Logs
logs/

# Conda / Mamba
.env/
.conda/
conda/

# Python
__pycache__/
*.pyc
*.pyo

# Editors
.vscode/
.idea/

# Mac/Linux
.DS_Store

# Temporary files
*.tmp
*.swp

# Large variant files
*.bam
*.bam.bai
*.bcf
*.bcf.csi
*.vcf.gz
*.vcf.gz.tbi

# Cluster files
slurm-*.out
slurm-*.err


pca_morph1_morph2_no_PNor6.sh

bin/vcf2phylip/

bin/__pycache__
bin/winpca
